[workspace]
resolver = "2"
members = [
    "apps/carcinisation",
    "crates/activable_macros",
    "crates/activable",
    "crates/carcinisation_core",
    "crates/cween",
    "scripts/generate-typeface",
    "scripts/process-gfx",
    "scripts/generate-editor-bindings",
    "tools/assert_assets_path",
    "tools/scene-file-watcher",
]

[workspace.package]
edition = "2021"
version = "0.2.0"

[workspace.dependencies]
assert_assets_path = { path = "tools/assert_assets_path" }
# dynamic_linking cannot be used for webassembly, not required for macOS
# bevy = { version = "0.12", features = ["dynamic_linking"] } # required for Windows builds
bevy = { version = "0.17", features = [
    "dynamic_linking",
    "wayland",
    "std",
    "async_executor",
] }
bevy_state = "0.17.2"
bevy_ecs = "0.17.2"
bevy_common_assets = { version = "0.14", features = ["ron"] }
bevy-inspector-egui = "0.35.0"
bevy_framepace = "0.20"
colored = "3.0.0"
derive-new = "0.7.0"
derive_more = "2.0.1"
lazy_static = "1.4.0"
leafwing-input-manager = "0.19.0"
num_enum = "0.7.2"
rand = "0.9.2"
seldom_pixel = { git = "https://github.com/marcotoniut/seldom_pixel", branch = "main", default-features = true, features = [
    "line",
] }
serde = { version = "1.0", features = ["derive"] }
serde_with = "3.8.1"
serde_json = "1.0"
ron = "0.11.0"
anyhow = "1.0"
ts-rs = "11.1.0"
strum = "0.27.2"
strum_macros = "0.27.2"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[profile.release]
lto = "thin"
opt-level = "z"

[workspace.lints.rust]
warnings = "deny"
