[package]
name = "xtask"
version = "0.1.0"
edition = "2021"

[dependencies]
clap = { version = "4.4", features = ["derive"] }
anyhow = "1.0"
glob = "0.3"
attack_data = { path = "../crates/attack_data" }
log = "0.4"
env_logger = "0.10"

