(
    indexed_image: "sprites/enemies/idolastra_3/atlas.pxi",
    regions: [
        (
            frame_size: (22, 53),
            frames: [
                (
                    x: 0,
                    y: 0,
                    w: 22,
                    h: 53,
                ),
            ],
        ),
        (
            frame_size: (22, 52),
            frames: [
                (
                    x: 22,
                    y: 0,
                    w: 22,
                    h: 52,
                ),
            ],
        ),
        (
            frame_size: (22, 51),
            frames: [
                (
                    x: 44,
                    y: 0,
                    w: 22,
                    h: 51,
                ),
            ],
        ),
        (
            frame_size: (25, 50),
            frames: [
                (
                    x: 66,
                    y: 0,
                    w: 25,
                    h: 50,
                ),
            ],
        ),
        (
            frame_size: (23, 48),
            frames: [
                (
                    x: 91,
                    y: 0,
                    w: 23,
                    h: 48,
                ),
            ],
        ),
        (
            frame_size: (25, 48),
            frames: [
                (
                    x: 114,
                    y: 0,
                    w: 25,
                    h: 48,
                ),
            ],
        ),
        (
            frame_size: (42, 47),
            frames: [
                (
                    x: 139,
                    y: 0,
                    w: 42,
                    h: 47,
                ),
            ],
        ),
        (
            frame_size: (42, 46),
            frames: [
                (
                    x: 181,
                    y: 0,
                    w: 42,
                    h: 46,
                ),
            ],
        ),
        (
            frame_size: (42, 46),
            frames: [
                (
                    x: 0,
                    y: 53,
                    w: 42,
                    h: 46,
                ),
            ],
        ),
        (
            frame_size: (25, 46),
            frames: [
                (
                    x: 42,
                    y: 53,
                    w: 25,
                    h: 46,
                ),
            ],
        ),
        (
            frame_size: (20, 44),
            frames: [
                (
                    x: 67,
                    y: 53,
                    w: 20,
                    h: 44,
                ),
            ],
        ),
        (
            frame_size: (1, 44),
            frames: [
                (
                    x: 87,
                    y: 53,
                    w: 1,
                    h: 44,
                ),
            ],
        ),
        (
            frame_size: (42, 43),
            frames: [
                (
                    x: 88,
                    y: 53,
                    w: 42,
                    h: 43,
                ),
            ],
        ),
        (
            frame_size: (23, 43),
            frames: [
                (
                    x: 130,
                    y: 53,
                    w: 23,
                    h: 43,
                ),
            ],
        ),
        (
            frame_size: (42, 41),
            frames: [
                (
                    x: 153,
                    y: 53,
                    w: 42,
                    h: 41,
                ),
            ],
        ),
        (
            frame_size: (22, 40),
            frames: [
                (
                    x: 195,
                    y: 53,
                    w: 22,
                    h: 40,
                ),
            ],
        ),
        (
            frame_size: (9, 39),
            frames: [
                (
                    x: 217,
                    y: 53,
                    w: 9,
                    h: 39,
                ),
            ],
        ),
        (
            frame_size: (1, 39),
            frames: [
                (
                    x: 226,
                    y: 53,
                    w: 1,
                    h: 39,
                ),
            ],
        ),
        (
            frame_size: (20, 39),
            frames: [
                (
                    x: 227,
                    y: 53,
                    w: 20,
                    h: 39,
                ),
            ],
        ),
        (
            frame_size: (1, 39),
            frames: [
                (
                    x: 247,
                    y: 53,
                    w: 1,
                    h: 39,
                ),
            ],
        ),
        (
            frame_size: (42, 38),
            frames: [
                (
                    x: 0,
                    y: 99,
                    w: 42,
                    h: 38,
                ),
            ],
        ),
        (
            frame_size: (9, 36),
            frames: [
                (
                    x: 42,
                    y: 99,
                    w: 9,
                    h: 36,
                ),
            ],
        ),
        (
            frame_size: (1, 36),
            frames: [
                (
                    x: 51,
                    y: 99,
                    w: 1,
                    h: 36,
                ),
            ],
        ),
        (
            frame_size: (38, 34),
            frames: [
                (
                    x: 52,
                    y: 99,
                    w: 38,
                    h: 34,
                ),
            ],
        ),
        (
            frame_size: (9, 34),
            frames: [
                (
                    x: 90,
                    y: 99,
                    w: 9,
                    h: 34,
                ),
            ],
        ),
        (
            frame_size: (1, 34),
            frames: [
                (
                    x: 99,
                    y: 99,
                    w: 1,
                    h: 34,
                ),
            ],
        ),
        (
            frame_size: (44, 33),
            frames: [
                (
                    x: 100,
                    y: 99,
                    w: 44,
                    h: 33,
                ),
            ],
        ),
        (
            frame_size: (35, 32),
            frames: [
                (
                    x: 144,
                    y: 99,
                    w: 35,
                    h: 32,
                ),
            ],
        ),
        (
            frame_size: (44, 31),
            frames: [
                (
                    x: 179,
                    y: 99,
                    w: 44,
                    h: 31,
                ),
            ],
        ),
        (
            frame_size: (52, 27),
            frames: [
                (
                    x: 0,
                    y: 137,
                    w: 52,
                    h: 27,
                ),
            ],
        ),
        (
            frame_size: (77, 27),
            frames: [
                (
                    x: 52,
                    y: 137,
                    w: 77,
                    h: 27,
                ),
            ],
        ),
        (
            frame_size: (5, 24),
            frames: [
                (
                    x: 129,
                    y: 137,
                    w: 5,
                    h: 24,
                ),
            ],
        ),
        (
            frame_size: (1, 24),
            frames: [
                (
                    x: 134,
                    y: 137,
                    w: 1,
                    h: 24,
                ),
            ],
        ),
        (
            frame_size: (57, 20),
            frames: [
                (
                    x: 135,
                    y: 137,
                    w: 57,
                    h: 20,
                ),
            ],
        ),
        (
            frame_size: (69, 20),
            frames: [
                (
                    x: 0,
                    y: 164,
                    w: 69,
                    h: 20,
                ),
            ],
        ),
        (
            frame_size: (6, 16),
            frames: [
                (
                    x: 69,
                    y: 164,
                    w: 6,
                    h: 16,
                ),
            ],
        ),
        (
            frame_size: (1, 16),
            frames: [
                (
                    x: 75,
                    y: 164,
                    w: 1,
                    h: 16,
                ),
            ],
        ),
        (
            frame_size: (1, 16),
            frames: [
                (
                    x: 76,
                    y: 164,
                    w: 1,
                    h: 16,
                ),
            ],
        ),
        (
            frame_size: (6, 16),
            frames: [
                (
                    x: 77,
                    y: 164,
                    w: 6,
                    h: 16,
                ),
            ],
        ),
        (
            frame_size: (9, 15),
            frames: [
                (
                    x: 83,
                    y: 164,
                    w: 9,
                    h: 15,
                ),
            ],
        ),
        (
            frame_size: (1, 15),
            frames: [
                (
                    x: 92,
                    y: 164,
                    w: 1,
                    h: 15,
                ),
            ],
        ),
        (
            frame_size: (9, 15),
            frames: [
                (
                    x: 93,
                    y: 164,
                    w: 9,
                    h: 15,
                ),
            ],
        ),
        (
            frame_size: (1, 15),
            frames: [
                (
                    x: 102,
                    y: 164,
                    w: 1,
                    h: 15,
                ),
            ],
        ),
        (
            frame_size: (13, 14),
            frames: [
                (
                    x: 103,
                    y: 164,
                    w: 13,
                    h: 14,
                ),
            ],
        ),
    ],
    names: {
        "sprite_0000": 10,
        "sprite_0001": 11,
        "sprite_0002": 16,
        "sprite_0003": 17,
        "sprite_0004": 35,
        "sprite_0005": 36,
        "sprite_0006": 39,
        "sprite_0007": 40,
        "sprite_0008": 4,
        "sprite_0009": 6,
        "sprite_0010": 3,
        "sprite_0011": 28,
        "sprite_0012": 31,
        "sprite_0013": 32,
        "sprite_0014": 41,
        "sprite_0015": 42,
        "sprite_0016": 12,
        "sprite_0017": 2,
        "sprite_0018": 27,
        "sprite_0019": 7,
        "sprite_0020": 1,
        "sprite_0021": 26,
        "sprite_0022": 8,
        "sprite_0023": 0,
        "sprite_0024": 23,
        "sprite_0025": 18,
        "sprite_0026": 19,
        "sprite_0027": 21,
        "sprite_0028": 22,
        "sprite_0029": 37,
        "sprite_0030": 13,
        "sprite_0031": 14,
        "sprite_0032": 5,
        "sprite_0033": 33,
        "sprite_0034": 24,
        "sprite_0035": 25,
        "sprite_0036": 38,
        "sprite_0037": 15,
        "sprite_0038": 20,
        "sprite_0039": 9,
        "sprite_0040": 29,
        "sprite_0041": 43,
        "sprite_0042": 30,
        "sprite_0043": 34,
    },
)