(
    indexed_image: "sprites/ui/stage_gun_weapon/atlas.pxi",
    regions: [
        (
            frame_size: (28, 48),
            origin: Some((65, 96)),
            frames: [
                (
                    x: 0,
                    y: 0,
                    w: 28,
                    h: 48,
                ),
                (
                    x: 28,
                    y: 0,
                    w: 28,
                    h: 48,
                ),
                (
                    x: 56,
                    y: 0,
                    w: 28,
                    h: 48,
                ),
            ],
        ),
    ],
    names: {
        "idle": 0,
    },
    animations: {
        "idle": (
            duration_ms: 300,
            direction: "forward",
            on_finish: "loop",
        ),
    },
)
