.editor-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.editor-main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.editor-left-sidebar {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.editor-center {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.editor-right-sidebar {
  display: flex;
  flex-direction: column;
  width: 280px;
}
