(
    indexed_image: "sprites/ui/stage_gun_weapon_shooting/atlas.pxi",
    regions: [
        (
            frame_size: (28, 43),
            origin: Some((65, 101)),
            frames: [
                (
                    x: 0,
                    y: 0,
                    w: 28,
                    h: 43,
                ),
                (
                    x: 28,
                    y: 0,
                    w: 28,
                    h: 43,
                ),
                (
                    x: 56,
                    y: 0,
                    w: 28,
                    h: 43,
                ),
                (
                    x: 84,
                    y: 0,
                    w: 28,
                    h: 43,
                ),
            ],
        ),
    ],
    names: {
        "shooting": 0,
    },
    animations: {
        "shooting": (
            duration_ms: 400,
            direction: "forward",
            on_finish: "loop",
        ),
    },
)
