#![enable(unwrap_newtypes)]
#![enable(implicit_some)]
#![enable(unwrap_variant_newtypes)]
#![enable(explicit_struct_names)]
StageData(
    name: "Debug Mosquiton",
    background_path: "backgrounds/spaceship/background.png",
    music_path: "audio/music/stage_1.ogg",
    skybox: SkyboxData(
        path: "backgrounds/spaceship/skybox.png",
        frames: 1,
    ),
    start_coordinates: Vec2(2.0520172, 410.78137),
    spawns: [
        Enemy(
            enemy_type: Mosquiton,
            elapsed: 0.0,
            contains: None,
            coordinates: Vec2(38.027084, 533.87756),
            speed: 0.0,
            health: 150,
            steps: [
                Idle(
                    duration: 99999.0,
                ),
            ],
            depth: Three,
        ),
    ],
    steps: [
        Stop(
            max_duration: 99999.0,
            kill_all: false,
            kill_boss: false,
            spawns: [],
            floor_depths: {
                Six: 25.0,
                Three: 40.0,
                Five: 30.0,
                Four: 35.0,
            },
        ),
        Stop(
            max_duration: 99999.0,
            kill_all: false,
            kill_boss: false,
            spawns: [
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 0.0,
                    contains: None,
                    coordinates: Vec2(140.0, 72.0),
                    speed: 0.0,
                    health: 150,
                    steps: [
                        Idle(
                            duration: 99999.0,
                        ),
                    ],
                    depth: Three,
                ),
            ],
            floor_depths: {
                Three: 40.0,
                Four: 35.0,
                Five: 30.0,
                Six: 25.0,
            },
        ),
    ],
    on_start_transition_o: None,
    on_end_transition_o: None,
    gravity: 800.0,
    projection: ProjectionProfile(
        horizon_y: 490.0,
        floor_base_y: 450.0,
        bias_power: 3.0,
    ),
)