#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
StageData(
    name: "Debug",
    background_path: "backgrounds/rugpark/background.png",
    music_path: "audio/music/stage_1.ogg",
    skybox: SkyboxData(
        path: "backgrounds/rugpark/skybox.png",
        frames: 2,
    ),
    start_coordinates: Vec2(0.0, 0.0),
    spawns: [
        Object(
            object_type: RugparkSign,
            coordinates: Vec2(522.0, 10.0),
            depth: Three,
        ),
        Destructible(
            contains: None,
            coordinates: Vec2(100.0, 67.0),
            depth: Six,
            destructible_type: Trashcan,
            health: 50,
        ),
        Destructible(
            contains: None,
            coordinates: Vec2(220.0, 67.0),
            depth: Six,
            destructible_type: Trashcan,
            health: 50,
        ),
        Object(
            object_type: Fibertree,
            coordinates: Vec2(30.0, 13.0),
            depth: Two,
        ),
        Object(
            object_type: Fibertree,
            coordinates: Vec2(180.0, 13.0),
            depth: Two,
        ),
        Object(
            object_type: BenchBig,
            coordinates: Vec2(50.0, 65.0),
            depth: Eight,
        ),
        Object(
            object_type: BenchBig,
            coordinates: Vec2(200.0, 60.0),
            depth: Eight,
        ),
        Destructible(
            contains: Enemy(
                enemy_type: Mosquito,
                contains: None,
                speed: 2.0,
                steps: [
                    Idle(
                        duration: 3.0,
                    ),
                    Attack(
                        duration: 1.0,
                    ),
                ],
            ),
            coordinates: Vec2(75.0, -5.0),
            depth: Three,
            destructible_type: Lamp,
            health: 60,
        ),
        Destructible(
            contains: Pickup(
                pickup_type: BigHealthpack,
            ),
            coordinates: Vec2(260.0, -5.0),
            depth: Three,
            destructible_type: Lamp,
            health: 60,
        ),
    ],
    steps: [
        Tween(
            coordinates: Vec2(0.0, 0.0),
            base_speed: 1.0,
            spawns: [],
            floor_depths: None,
        ),
        Stop(
            max_duration: 12.0,
            kill_all: true,
            kill_boss: false,
            spawns: [
                Enemy(
                    enemy_type: Tardigrade,
                    elapsed: 0.0,
                    contains: None,
                    coordinates: Vec2(35.0, 105.0),
                    speed: 2.0,
                    steps: [],
                    depth: Eight,
                ),
                Enemy(
                    enemy_type: Mosquito,
                    elapsed: 0.1,
                    contains: Pickup(
                        pickup_type: SmallHealthpack,
                    ),
                    coordinates: Vec2(60.0, 100.0),
                    speed: 2.0,
                    steps: [
                        LinearTween(
                            depth_movement_o: -1,
                            direction: Vec2(-1.0, -0.2),
                            trayectory: 30.0,
                        ),
                        Idle(
                            duration: 3.0,
                        ),
                        LinearTween(
                            depth_movement_o: 1,
                            direction: Vec2(1.0, -0.5),
                            trayectory: 50.0,
                        ),
                        LinearTween(
                            depth_movement_o: None,
                            direction: Vec2(1.0, 1.0),
                            trayectory: 0.0,
                        ),
                    ],
                    depth: Five,
                ),
                Enemy(
                    enemy_type: Mosquito,
                    elapsed: 85.0,
                    contains: Pickup(
                        pickup_type: BigHealthpack,
                    ),
                    coordinates: Vec2(30.0, 60.0),
                    speed: 2.0,
                    steps: [
                        Circle(
                            depth_movement_o: None,
                            direction: Positive,
                            duration: 99999.0,
                            radius: 12.0,
                        ),
                    ],
                    depth: Five,
                ),
                Enemy(
                    enemy_type: Mosquito,
                    elapsed: 45.1,
                    contains: Pickup(
                        pickup_type: BigHealthpack,
                    ),
                    coordinates: Vec2(30.0, 60.0),
                    speed: 2.0,
                    steps: [
                        Circle(
                            depth_movement_o: None,
                            direction: Negative,
                            duration: 99999.0,
                            radius: 12.0,
                        ),
                    ],
                    depth: Five,
                ),
                Enemy(
                    enemy_type: Mosquito,
                    elapsed: 2.1,
                    contains: Pickup(
                        pickup_type: BigHealthpack,
                    ),
                    coordinates: Vec2(140.0, 130.0),
                    speed: 2.0,
                    steps: [],
                    depth: Five,
                ),
            ],
            floor_depths: None,
        ),
        Tween(
            coordinates: Vec2(180.0, 0.0),
            base_speed: 1.0,
            spawns: [
                Enemy(
                    enemy_type: Mosquito,
                    elapsed: 2.1,
                    contains: Pickup(
                        pickup_type: BigHealthpack,
                    ),
                    coordinates: Vec2(140.0, 130.0),
                    speed: 2.0,
                    steps: [],
                    depth: Five,
                ),
            ],
            floor_depths: None,
        ),
        Stop(
            max_duration: 15.0,
            kill_all: false,
            kill_boss: false,
            spawns: [
                Enemy(
                    enemy_type: Mosquito,
                    elapsed: 35.0,
                    contains: Pickup(
                        pickup_type: BigHealthpack,
                    ),
                    coordinates: Vec2(130.0, 70.0),
                    speed: 2.0,
                    steps: [],
                    depth: Five,
                ),
            ],
            floor_depths: None,
        ),
        Stop(
            max_duration: 100.0,
            kill_all: false,
            kill_boss: false,
            spawns: [],
            floor_depths: None,
        ),
    ],
)