#![enable(unwrap_newtypes)]
#![enable(implicit_some)]
#![enable(unwrap_variant_newtypes)]
#![enable(explicit_struct_names)]
StageData(
    name: "Park",
    background_path: "backgrounds/rugpark/background.png",
    music_path: "audio/music/stage_1.ogg",
    skybox: SkyboxData(
        path: "backgrounds/rugpark/skybox.png",
        frames: 2,
    ),
    start_coordinates: Vec2(0.37983704, 0.15395355),
    spawns: [
        Object(
            object_type: RugparkSign,
            coordinates: Vec2(522.0, 10.0),
            depth: Three,
        ),
        Object(
            object_type: Fibertree,
            coordinates: Vec2(0.4292755, 7.9985676),
            depth: Two,
        ),
        Object(
            object_type: Fibertree,
            coordinates: Vec2(179.4772, 8.438702),
            depth: Two,
        ),
        Object(
            object_type: BenchBig,
            coordinates: Vec2(20.0, 65.0),
            depth: Eight,
        ),
        Object(
            object_type: BenchBig,
            coordinates: Vec2(200.0, 60.0),
            depth: Eight,
        ),
        Object(
            object_type: BenchSmall,
            coordinates: Vec2(100.0, 65.0),
            depth: Eight,
        ),
        Destructible(
            contains: Enemy(
                enemy_type: Mosquito,
                contains: None,
                speed: 2.0,
                health: None,
                steps: [
                    LinearTween(
                        depth_movement_o: -1,
                        direction: Vec2(-1.0, 0.0),
                        trayectory: 0.0,
                    ),
                    Idle(
                        duration: 4.0,
                    ),
                    LinearTween(
                        depth_movement_o: None,
                        direction: Vec2(1.0, 0.0),
                        trayectory: 0.0,
                    ),
                    LinearTween(
                        depth_movement_o: 1,
                        direction: Vec2(-1.0, 0.0),
                        trayectory: 0.0,
                    ),
                ],
            ),
            coordinates: Vec2(66.21492, -13.191673),
            depth: Three,
            destructible_type: Lamp,
            health: 60,
        ),
        Destructible(
            contains: Pickup(
                pickup_type: BigHealthpack,
            ),
            coordinates: Vec2(255.50278, -12.820894),
            depth: Three,
            destructible_type: Lamp,
            health: 60,
        ),
        Pickup(
            pickup_type: BigHealthpack,
            coordinates: Vec2(169.42331, 22.659866),
            elapsed: 0.0,
            depth: Six,
        ),
        Enemy(
            enemy_type: Mosquiton,
            elapsed: 0.0,
            contains: None,
            coordinates: Vec2(38.9675, 0.0),
            speed: 2.0,
            health: None,
            steps: [],
            depth: Three,
            altitude: 55.0,
        ),
    ],
    steps: [
        Tween(
            coordinates: Vec2(45.47413, -0.45277405),
            base_speed: 1.0,
            spawns: [
                Enemy(
                    enemy_type: Mosquito,
                    elapsed: 5.4,
                    contains: Pickup(
                        pickup_type: BigHealthpack,
                    ),
                    coordinates: Vec2(60.0, 100.0),
                    speed: 2.0,
                    health: None,
                    steps: [
                        Circle(
                            depth_movement_o: None,
                            direction: Negative,
                            duration: 99999.0,
                            radius: 12.0,
                        ),
                    ],
                    depth: Five,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 0.0,
                    contains: Pickup(
                        pickup_type: BigHealthpack,
                    ),
                    coordinates: Vec2(123.1298, 0.0),
                    speed: 2.0,
                    health: None,
                    steps: [
                        Circle(
                            depth_movement_o: None,
                            direction: Positive,
                            duration: 99999.0,
                            radius: 8.0,
                        ),
                    ],
                    depth: Six,
                    altitude: 38.0,
                ),
            ],
            surfaces: [
                SurfaceSpec(depths: RangeInclusive(start: Three, end: Three), mode: Anchored(0.0)),
                SurfaceSpec(depths: RangeInclusive(start: Four, end: Four), mode: Anchored(30.0)),
                SurfaceSpec(depths: RangeInclusive(start: Five, end: Five), mode: Anchored(50.0)),
                SurfaceSpec(depths: RangeInclusive(start: Six, end: Six), mode: Anchored(70.0)),
            ],
        ),
        Stop(
            max_duration: 12.0,
            kill_all: true,
            kill_boss: false,
            spawns: [
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 2.4,
                    contains: Pickup(
                        pickup_type: BigHealthpack,
                    ),
                    coordinates: Vec2(186.94835, 0.0),
                    speed: 2.0,
                    health: None,
                    steps: [
                        LinearTween(
                            depth_movement_o: None,
                            direction: Vec2(-1.0, -0.3),
                            trayectory: 30.0,
                        ),
                        Idle(
                            duration: 3.0,
                        ),
                        LinearTween(
                            depth_movement_o: None,
                            direction: Vec2(1.0, 0.3),
                            trayectory: 30.0,
                        ),
                    ],
                    depth: Four,
                    altitude: 50.0,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 10.8,
                    contains: None,
                    coordinates: Vec2(98.330444, 0.0),
                    speed: 2.0,
                    health: None,
                    steps: [
                        Circle(
                            depth_movement_o: None,
                            direction: Negative,
                            duration: 99999.0,
                            radius: 10.0,
                        ),
                    ],
                    depth: Five,
                    altitude: 45.0,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 50.8,
                    contains: Pickup(
                        pickup_type: BigHealthpack,
                    ),
                    coordinates: Vec2(170.0, 0.0),
                    speed: 2.0,
                    health: None,
                    steps: [
                        Idle(
                            duration: 2.0,
                        ),
                        LinearTween(
                            depth_movement_o: -1,
                            direction: Vec2(-1.0, 0.0),
                            trayectory: 20.0,
                        ),
                        Idle(
                            duration: 4.0,
                        ),
                        LinearTween(
                            depth_movement_o: 1,
                            direction: Vec2(1.0, 0.0),
                            trayectory: 20.0,
                        ),
                    ],
                    depth: Four,
                    altitude: 53.0,
                ),
            ],
        ),
        Tween(
            coordinates: Vec2(193.47852, -0.07234955),
            base_speed: 1.0,
            spawns: [
                Enemy(
                    enemy_type: Mosquito,
                    elapsed: 6.8,
                    contains: None,
                    coordinates: Vec2(-0.7676773, 37.998154),
                    speed: 2.0,
                    health: None,
                    steps: [
                        Circle(
                            depth_movement_o: None,
                            direction: Negative,
                            duration: 99999.0,
                            radius: 3.0,
                        ),
                    ],
                    depth: Five,
                ),
                Enemy(
                    enemy_type: Tardigrade,
                    elapsed: 22.8,
                    contains: None,
                    coordinates: Vec2(198.96196, 103.00549),
                    speed: 2.0,
                    health: None,
                    steps: [],
                    depth: Six,
                ),
                Pickup(
                    pickup_type: BigHealthpack,
                    coordinates: Vec2(144.0, 68.0),
                    elapsed: 0.0,
                    depth: Six,
                ),
            ],
        ),
        Stop(
            max_duration: 10.0,
            kill_all: true,
            kill_boss: false,
            spawns: [],
        ),
        Tween(
            coordinates: Vec2(313.86188, 0.16482544),
            base_speed: 1.0,
            spawns: [
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 8.4,
                    contains: None,
                    coordinates: Vec2(60.0, 0.0),
                    speed: 2.0,
                    health: None,
                    steps: [],
                    depth: Five,
                    altitude: 48.0,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 6.1,
                    contains: None,
                    coordinates: Vec2(113.6492, 0.0),
                    speed: 2.0,
                    health: None,
                    steps: [
                        Circle(
                            depth_movement_o: None,
                            direction: Positive,
                            duration: 99999.0,
                            radius: 6.0,
                        ),
                    ],
                    depth: Seven,
                    altitude: 28.0,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 7.4,
                    contains: None,
                    coordinates: Vec2(30.0, 0.0),
                    speed: 2.0,
                    health: None,
                    steps: [
                        LinearTween(
                            depth_movement_o: None,
                            direction: Vec2(1.0, -0.5),
                            trayectory: 25.0,
                        ),
                        Idle(
                            duration: 5.0,
                        ),
                        LinearTween(
                            depth_movement_o: None,
                            direction: Vec2(-1.0, 0.5),
                            trayectory: 25.0,
                        ),
                    ],
                    depth: Six,
                    altitude: 38.0,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 7.4,
                    contains: None,
                    coordinates: Vec2(175.16211, 0.0),
                    speed: 5.0,
                    health: None,
                    steps: [],
                    depth: Four,
                    altitude: 50.0,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 8.1,
                    contains: None,
                    coordinates: Vec2(20.0, 0.0),
                    speed: 5.0,
                    health: None,
                    steps: [],
                    depth: Six,
                    altitude: 35.0,
                ),
            ],
        ),
        Tween(
            coordinates: Vec2(513.0, 0.0),
            base_speed: 1.0,
            spawns: [
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 8.4,
                    contains: Pickup(
                        pickup_type: BigHealthpack,
                    ),
                    coordinates: Vec2(100.0, 0.0),
                    speed: 5.0,
                    health: None,
                    steps: [],
                    depth: Five,
                    altitude: 48.0,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 6.1,
                    contains: None,
                    coordinates: Vec2(120.95361, 0.0),
                    speed: 5.0,
                    health: None,
                    steps: [],
                    depth: Seven,
                    altitude: 28.0,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 7.4,
                    contains: None,
                    coordinates: Vec2(51.49585, 0.0),
                    speed: 2.0,
                    health: None,
                    steps: [
                        Circle(
                            depth_movement_o: None,
                            direction: Negative,
                            duration: 99999.0,
                            radius: 13.0,
                        ),
                    ],
                    depth: Five,
                    altitude: 42.0,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 5.6,
                    contains: None,
                    coordinates: Vec2(280.0, 0.0),
                    speed: 2.0,
                    health: None,
                    steps: [
                        Circle(
                            depth_movement_o: None,
                            direction: Negative,
                            duration: 99999.0,
                            radius: 9.0,
                        ),
                    ],
                    depth: Four,
                    altitude: 47.0,
                ),
                Enemy(
                    enemy_type: Tardigrade,
                    elapsed: 6.4,
                    contains: Pickup(
                        pickup_type: BigHealthpack,
                    ),
                    coordinates: Vec2(124.86621, 38.274643),
                    speed: 2.0,
                    health: None,
                    steps: [],
                    depth: Six,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 7.4,
                    contains: None,
                    coordinates: Vec2(400.0, 0.0),
                    speed: 2.0,
                    health: None,
                    steps: [
                        LinearTween(
                            depth_movement_o: None,
                            direction: Vec2(-1.0, 0.0),
                            trayectory: 40.0,
                        ),
                        Circle(
                            depth_movement_o: None,
                            direction: Positive,
                            duration: 99999.0,
                            radius: 11.0,
                        ),
                    ],
                    depth: Six,
                    altitude: 40.0,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 8.1,
                    contains: None,
                    coordinates: Vec2(360.0, 0.0),
                    speed: 5.0,
                    health: None,
                    steps: [
                        Circle(
                            depth_movement_o: None,
                            direction: Negative,
                            duration: 99999.0,
                            radius: 7.0,
                        ),
                    ],
                    depth: Seven,
                    altitude: 26.0,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 7.4,
                    contains: None,
                    coordinates: Vec2(410.0, 0.0),
                    speed: 5.0,
                    health: None,
                    steps: [
                        Idle(
                            duration: 3.0,
                        ),
                        LinearTween(
                            depth_movement_o: -1,
                            direction: Vec2(-1.0, -0.4),
                            trayectory: 35.0,
                        ),
                    ],
                    depth: Five,
                    altitude: 45.0,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 6.1,
                    contains: None,
                    coordinates: Vec2(549.8359, 0.0),
                    speed: 5.0,
                    health: None,
                    steps: [
                        Circle(
                            depth_movement_o: None,
                            direction: Positive,
                            duration: 99999.0,
                            radius: 23.0,
                        ),
                    ],
                    depth: Six,
                    altitude: 36.0,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 6.1,
                    contains: Pickup(
                        pickup_type: BigHealthpack,
                    ),
                    coordinates: Vec2(184.25671, 0.0),
                    speed: 2.0,
                    health: None,
                    steps: [],
                    depth: Four,
                    altitude: 52.0,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 7.4,
                    contains: None,
                    coordinates: Vec2(185.11719, 0.0),
                    speed: 2.0,
                    health: None,
                    steps: [],
                    depth: Seven,
                    altitude: 30.0,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 8.1,
                    contains: Pickup(
                        pickup_type: BigHealthpack,
                    ),
                    coordinates: Vec2(734.93945, 0.0),
                    speed: 5.0,
                    health: None,
                    steps: [
                        Circle(
                            depth_movement_o: None,
                            direction: Negative,
                            duration: 99999.0,
                            radius: 13.0,
                        ),
                    ],
                    depth: Five,
                    altitude: 48.0,
                ),
            ],
        ),
        Stop(
            max_duration: 10.0,
            kill_all: true,
            kill_boss: false,
            spawns: [],
        ),
        Tween(
            coordinates: Vec2(800.0, 155.0),
            base_speed: 1.0,
            spawns: [
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 8.4,
                    contains: Pickup(
                        pickup_type: BigHealthpack,
                    ),
                    coordinates: Vec2(55.0, 0.0),
                    speed: 5.0,
                    health: None,
                    steps: [
                        Circle(
                            depth_movement_o: None,
                            direction: Negative,
                            duration: 99999.0,
                            radius: 15.0,
                        ),
                    ],
                    depth: Six,
                    altitude: 38.0,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 6.1,
                    contains: None,
                    coordinates: Vec2(100.0, 0.0),
                    speed: 5.0,
                    health: None,
                    steps: [
                        LinearTween(
                            depth_movement_o: None,
                            direction: Vec2(-1.0, 0.5),
                            trayectory: 20.0,
                        ),
                        Idle(
                            duration: 4.0,
                        ),
                        LinearTween(
                            depth_movement_o: None,
                            direction: Vec2(1.0, -0.5),
                            trayectory: 20.0,
                        ),
                    ],
                    depth: Four,
                    altitude: 50.0,
                ),
            ],
        ),
        Stop(
            max_duration: 10.0,
            kill_all: true,
            kill_boss: false,
            spawns: [],
        ),
        Tween(
            coordinates: Vec2(930.0, 155.0),
            base_speed: 1.0,
            spawns: [
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 8.4,
                    contains: None,
                    coordinates: Vec2(169.33398, 0.0),
                    speed: 5.0,
                    health: None,
                    steps: [
                        Circle(
                            depth_movement_o: None,
                            direction: Positive,
                            duration: 99999.0,
                            radius: 5.0,
                        ),
                    ],
                    depth: Seven,
                    altitude: 26.0,
                ),
                Enemy(
                    enemy_type: Mosquiton,
                    elapsed: 6.1,
                    contains: None,
                    coordinates: Vec2(237.72461, 0.0),
                    speed: 2.0,
                    health: None,
                    steps: [
                        LinearTween(
                            depth_movement_o: None,
                            direction: Vec2(-1.0, 0.0),
                            trayectory: 30.0,
                        ),
                        Circle(
                            depth_movement_o: None,
                            direction: Negative,
                            duration: 99999.0,
                            radius: 8.0,
                        ),
                    ],
                    depth: Five,
                    altitude: 43.0,
                ),
            ],
        ),
        Stop(
            max_duration: 45.0,
            kill_all: false,
            kill_boss: true,
            spawns: [],
        ),
    ],
    on_start_transition_o: None,
    on_end_transition_o: None,
    gravity: None,
    checkpoint: StageCheckpoint(
        step_index: 4,
        start_coordinates: Vec2(313.86188, 0.16482544),
    ),
)
