(
    indexed_image: "sprites/ui/stage_gun_muzzle_flash/atlas.pxi",
    regions: [
        (
            frame_size: (16, 15),
            origin: Some((72, 96)),
            frames: [
                (
                    x: 0,
                    y: 0,
                    w: 16,
                    h: 15,
                ),
                (
                    x: 16,
                    y: 0,
                    w: 16,
                    h: 15,
                ),
                (
                    x: 32,
                    y: 0,
                    w: 16,
                    h: 15,
                ),
                (
                    x: 48,
                    y: 0,
                    w: 16,
                    h: 15,
                ),
            ],
        ),
    ],
    names: {
        "shooting": 0,
    },
    animations: {
        "shooting": (
            duration_ms: 400,
            direction: "forward",
            on_finish: "loop",
        ),
    },
)
