(
    indexed_image: "sprites/ui/stage_flamethrower_weapon/atlas.pxi",
    regions: [
        (
            frame_size: (68, 52),
            origin: Some((43, 92)),
            frames: [
                (
                    x: 0,
                    y: 0,
                    w: 68,
                    h: 52,
                ),
            ],
        ),
    ],
    names: {
        "flamethrower_idle": 0,
    },
    animations: {
        "flamethrower_idle": (
            duration_ms: 100,
            direction: "forward",
            on_finish: "loop",
        ),
    },
)
